.h1, .h2, .h3, .h4, .lead, h1, h2, h3, h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

body{
    padding-top: 30px;
}
@media (min-width:768px){
    .navbar {
        min-height: 40px;
    }
}

@media (min-width:768px){
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 42px;
        height: 42px;
    }
}

@media(min-width:768px){
    .navbar-nav>li>a{
        font-size:14px;
        padding-top:11px;
        padding-bottom:11px;
    }
}

.projects .thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 310px;
    margin-bottom: 30px;
    border-radius: 0;
}

.projects .thumbnail .caption {
    height: 200px;
    overflow-y: hidden;
    color: #555;
}

.jumbotron {
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #020031;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #020031), color-stop(100%, #6d3353));
    background: -webkit-linear-gradient(45deg, #020031 0, #6d3353 100%);
    background: -o-linear-gradient(45deg, #020031 0, #6d3353 100%);
    background: linear-gradient(45deg, #020031 0, #6d3353 100%);
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2)
}

.jumbotron .container{
    position:relative;
    z-index: 2;
}

.jumbotron:after{
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: url("../img/bs-docs-masthead-pattern.png") repeat center center;
    opacity: .4;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1) {
    .jumbotron:after {
        -webkit-background-size: 150px 150px;
        background-size: 150px 150px;
    }
}

.jumbotron a{
    color:#fff;
    color:rgba(255,255,255,.5);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.jumbotron a:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, .25);
}

.masthead{
    padding:60px 0 80px;
    margin-bottom:0;
    color:#fff;
}

@media screen and (min-width: 768px) {
    .masthead {
        padding: 90px 0 110px;
    }
}

.masthead h1{
    font-size:60px;
    line-height: 1;
    letter-spacing: -2px;
    font-weight: 700;
}

@media screen and (min-width:768px){
    .masthead h1{
        font-size:90px;
    }
}

@media screen and (min-width:992px){
    .masthead h1{
        font-size:100px;
    }
}

.masthead h2{
    font-size:18px;
    line-height: 1.25;
    font-weight: 200;
}

@media screen and (min-width:768px){
    .masthead h2{
        font-size:24px;
    }
}

@media screen and (min-width:992px){
    .masthead h2{
        font-size:30px;
    }
}
.masthead p{
    font-size:40px;
    font-weight:200;
    line-height:1.25;
}

.masthead .masthead-button-links{
    margin-top:30px;
}

.btn-primary.btn-shadow{
    box-shadow:inset 0 -4px 0 #2a6496;
    border:0;
    color:#fff;
}

.btn-lg.btn-shadow{
    padding:13px 35px 17px;
}

.masthead-links{
    margin:0;
    padding:0;
    list-style:none;
}

.masthead-links li{
    display:inline;
    padding:0 10px;
    color:rgba(255,255,255,.25);
}

.bc-social{
    padding:15px 0;
    text-align:center;
    background-color: #f5f5f5;
    border-top:1px solid #fff;
    border-bottom:1px solid #ddd;
}

.bc-social-buttons{
    margin-left:0;
    margin-bottom:0;
    margin-left:0;
    list-style:none;
}

.bc-social-buttons li{
    display:inline-block;
    line-height:1;
    color:#555;
}

.bc-social-buttons li a{
    color:#555;
}

.bc-social-buttons li .fa{
    font-size:18px;
    margin:3px;
}

.bc-social-buttons li .fa-weibo{
    font-size:20px;
}

.bc-social-buttons>li + li:before{
    padding:0 10px;
    color:#ccc;
    content:"|";
}

.projects-header{
    width:60%;
    text-align:center;
    margin:60px 0 10px;
    font-weight:200;
    margin-bottom:40px;
    display:block;
    margin-left:auto;
    margin-right:auto
}

.projects-header h2{
    font-size:30px;
    letter-spacing:-1px;
}

@media screen and (min-width:768px){
    .projects-header h2{
        font-size:42px;
    }
}

.footer{
    color:#777;
    padding:30px 0;
    border-top:1px solid #e5e5e5;
    margin-top:70px;
}

.footer a{
    color:#777;
}

.footer-top .about>div{
    height:110px;
    margin-bottom:10px;
}

.footer-top .about>div h4{
    color:#563d7c;
    font-size:16px;
}

.footer-bottom ul>li{
    padding:0;
}

.footer-bottom ul>li+li:before{
    padding:0 10px;
    color:#ccc;
    content:"|";
}

#scrollUp{
    background-color: #777;
    color: #eee;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border: none;
    opacity: .8;
}

#scrollUp:hover{
    background: #333;
}

@media screen and (min-width:992px){
    #scrollUp{
        bottom:100px;
    }
}

